.resubmit-widget {
    margin-left: 77px;
    padding-left: 30px;
}

.resubmit-widget p {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.resubmit-preview {
    display: block;
    float: left;
    text-align: center;
    margin-right: 1em;
}

.resubmit-initial {
    display: block;
    clear: right;
    height: 1.5em;
}

.resubmit-preview__image {
}

.resubmit-clear__label{
    float: left;
    padding: 0 !important;
    margin: .5em 0;
}

.resubmit-clear__checkbox {
    float: left;
    padding: 0;
    margin: .5em .25em .5em .5em;
}

.resubmit-input{
    display: block;
    float: left;
    margin-top: 3px;
}
